body {
  padding-left: 2%;
}

th {
  text-align: left;
}

.button {
  background-color: #700859;
  max-width: 100px;
}


.button:hover, .button:focus {
  background-color: #F012BE;
}

h1, h2, h3, h4, h5, h6 {
  color: #0F0571;
  font-family: 'Russo One', sans-serif;
}
