@import url('https://fonts.googleapis.com/css?family=Fondamento');

body {
  background-color: #fcf7fc;
  background-image: url('../images/foggy-birds.png');
  /*image from https://www.transparenttextures.com/*/
}

header {
  text-align: center;
}

:focus {
  outline: #bea8be auto 5px;
}

.button {
  border-radius: 5px;
}

#trip-list ul {
  margin: 0;
}

#trip-list {
  margin: 0;
  column-count: 2;
  text-align: center;
}

#trip-list li {
  list-style-type: none;
}

.trip-listing {
  display: inline-block;
  width: 100%;
  margin-bottom: 3%;
}

.errors {
  color: red;
}

#errors, #reserve-message {
  font-size: 1.5em;
  text-align: center;
}


@media print, screen and (max-width: 40em) {
  #trip-list {
    column-count: 1;
  }
}
