
/*All Page Elements*/
/*
fonts
font-family: 'Special Elite', cursive;
font-family: 'Faster One', cursive;
*/
div {
  padding: 0;
}

body {
  font-family: 'Special Elite', cursive;
  font-size: 18px;
  color: #4d4d4d;
  margin: 10px 10%;
  overflow: auto;
}

h1, h2, h3, h4 {
  font-family: 'Special Elite', cursive;
}

.button {
  font-family: 'Faster One', cursive;
  font-size: 1.2em;
}

#load {
  font-size: 3em;
  padding: 30px;
  position: sticky;
  top: 0;
}

#trip-list a h3:hover{
  background-color: #1779BA;
  color: white;
}

#trip-sort {
  position: sticky;
  top: 0;
}

/*.trip-list-outline {
  overflow: scroll;
  height: 500px;
}*/

.small-12.small-centered.column {
  padding: 0;
}
