
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Trek</title>
    <link href="foundation.css" media="screen" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="stylesheet.css">
  </head>

  <body>

    <section id="errors"></section>

    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">My Site</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="active"><a href="#">Right Button Active</a></li>
          <li class="has-dropdown">
            <a href="#">Right Button Dropdown</a>
            <ul class="dropdown">
              <li><a href="#">First link in dropdown</a></li>
              <li class="active"><a href="#">Active link in dropdown</a></li>
            </ul>
          </li>
        </ul>

        <!-- Left Nav Section -->
        <ul class="left">
          <li><a href="#">Left Nav Button</a></li>
        </ul>
      </section>
    </nav>

    <section id="menu-bar">
      <nav class="top-bar data-topbar">
        <h1>Trek</h1>
        <li class="has-form">
          <div class="row collapse">
            <div class="large-8 small-9 columns">
              <input type="text" placeholder="Find Stuff">
            </div>
            <div class="large-4 small-3 columns">
              <a href="#" class="alert button expand">Search</a>
            </div>
          </div>
        </li>
        <button id="load-button" class="button"> All Trips </button>
        <button id="new-button" class="button"> Add a Trip </button>
        <form>

        </form>
      </nav>
    </section>


    <section id="index-page"></section>
    <section id="new-page"></section>
    <section id="show-page"></section>

  <!-- _____UNDERSCORE TEMPLATES______ -->

    <!-- INDEX: to show all trips -->
    <script id="index-trip-template" type="text/template">
      <div id="all-trips" class="row">
      <% for (var i = 0; i < trips.length; i ++) { %>
        <% if (trips[i].name !== null && trips[i].name !== "") { %>
          <a href="" data-id=<%- trips[i].id %>>
            <div class="card columns medium-4">
              <div class="card-divider">
                <h4><%- trips[i].name %></h4>
              </div>
              <div class="card-section">
                <% if (trips[i].weeks !== null && trips[i].weeks !== 0) { %>
                  <p><%- trips[i].weeks %> week(s)
                <% } else { %>
                  <p>trip to
                <% } %>
                <% if (trips[i].continent !== null && trips[i].continent !== "") { %>
                  in <%- trips[i].continent %></p>
                <% } else { %>
                  a mysterious destination</p>
                <% } %>
              </div>
            </div>
          </a>
        <% } %>
      <% } %>
      </div>
    </script>

    <!-- SHOW: to show each trip w/reservation -->
    <script id="show-trip-template" type="text/template">
      <section>
        <h2><%- data.name %></h2>

        <p><strong>Location:</strong> <%- data.continent %></p>
        <p><strong>Duration:</strong> <%- data.weeks %> weeks</p>
        <p><strong>Cost:</strong> $<%- data.cost %></p>
        <p><strong>About:</strong> <%- data.about %></p>
        <p><strong>Category:</strong> <%- data.category %></p>

        <p>(ID #00<%- data.id %>)</p>

        <div id="form-message"></div>
        <!-- form to reserve a spot -->
        <form action="https://trektravel.herokuapp.com/trips/1/reserve" method="post">

          <label>Name:</label>
          <input id="name" name="name" type="text"/>

          <label>Email:</label>
          <input id="email" name="email" type="text"/>

          <button id="submit" type"submit" class="button">Submit</button>
        </form>
      </section>
    </script>

    <!-- NEW: form to create a new trip -->
    <script id="new-trip-template" type="text/template">
        <div id="new-message"></div>
        <form action="https://trektravel.herokuapp.com/trips" method="post">

          <label>Name:</label>
          <input id="trip-name" name="name" type="text"/>

          <label>Continent:</label>
          <input id="continent" name="continent" type="text"/>

          <label>Weeks:</label>
          <input id="weeks" name="weeks" type="text"/>

          <button id="create-new" type"submit" class="button">Submit</button>
        </form>
    </script>

    <script src="jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="index.js"></script>
    <script src="js/foundation/foundation.topbar.js"></script>
  </body>
</html>
