
header, main {
  padding: 0.5rem 1rem 0.5rem 1rem;
}

#form1 {
  padding-top: 2rem;
}

.button {
  border-radius: 0.25rem;
  margin: 0;
  padding: 0.5em 1em;
}

.trip_button {
  width: 90px
}

.sort_button {
  background-color: transparent;
  color: black;
}

.trip_headline h3 {
  display: inline-block;
}
