<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="trek.css" media="screen" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.4/foundation.min.css">
  <title>Trek</title>
</head>
<body>
  <button type="button" name="button" class="button" id="load">Get Trips!</button>
  <section id='trip-list'></section>


  <!-- Templates -->
  <script id="trips-template" type="text/template">
    <a href="#" id="trip-link" ><h1 id=<%- trip.id %>><%- trip.name %></h1></a>


    <!-- <tr class="trips-main"></tr>
    <tbody id="trips-body"></tbody> -->
    <!-- </table> -->
  </script>

  <!-- Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/foundation/6.2.4/foundation.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
  <script type="text/javascript"9 src="trek.js"></script>
</body>
</html>
