* {
  padding: 1%;
}

.row {
  max-width: 100%;
}
.trip {
  /*display: inline-block;*/
  /*margin: 3%;*/
  border: solid;
  /*display: inline-block;*/
  /*text-align: center;*/
  /*padding: 1%*/
}

h1 {
  /*background-color: grey;*/
  /*color: white;*/
  margin: 0;
  margin-top: 2%;
  padding: 0;
  text-align: center;
}

h3 {
  color: blue;
  background-color: lightgrey;
  /*border-bottom: solid;*/
  font-weight: bold;
  text-align: center;
}

h3:hover {
  color:purple;
  background-color: Whitesmoke;
}

.reservedMessage {
  color: red;
  font-size: 1.75em;
}
/*form {
  border: none;
}*/
