* {
  padding: 1%;
}
.trip {
  /*display: inline-block;*/
  margin: 3%;
  border: solid;
  /*padding: 1%*/
}

h1 {
  text-align: center;
  margin: 0;
  margin-top: 2%;
  padding: 0;
  
}

h3 {
  color: blue;
  border-bottom: solid;
  text-align: center;
}

h3:hover {
  color:red;
}

.reservedMessage {
  color: red;
  font-size: 1.75em;
}
/*form {
  border: none;
}*/
