@import url('https://fonts.googleapis.com/css?family=Comfortaa|Antic|IM+Fell+English+SC|Kurale');

* {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa";
}

body {
  display: block;
  position: relative;
  min-height: 675px;
}

body::after {
  content: "";
  background: url("http://www.environmentandsociety.org/sites/default/files/styles/popup/public/wegener-expedition2-walk_0.jpg?itok=u9iamiKA") repeat center center;
  background-size: cover;
  opacity: .5;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#header-title, #errors {
  text-align: center;
}

h1 {
  font-size: 4em;
}

button, p {
  font-family: "Antic";
}

.hidden {
  display: none;
}

#header-title {
  font-family: "IM Fell English SC";
}

.top-nav {
  display: block;
}

.top-nav form, .top-nav button {
  display: inline-block;
}

.top-nav form {
  display: block;
}

.top-nav form section {
  display: inline-block;
}
