@import url('https://fonts.googleapis.com/css?family=Germania+One');

* {
  font-family: 'Germania One', cursive;
  z-index: 1;
}

#find-trips {
  font-family: 'Germania One', cursive;
  font-size: 2.5vw;
  z-index: 1;
}

#trip-list {
  align: center;
  text-align: center;
  background:white;
}

.show-info {
  font-size: 2vw;
  float: center;
  display: inline-block;
  padding: 5%;

}

.page-bg {
  background: url('https://tce-live2.s3.amazonaws.com/media/media/187836c0-362e-4816-92f3-d5f025e47a04.jpg') no-repeat center center fixed;
  background-size: 100%;
  filter: blur(1px);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
