@import url('https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.css');
@import url('https://fonts.googleapis.com/css?family=Khand|Bungee');

/*general*/
body {
  background-image: url('trek.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   width: 100% !important;
  position: absolute;
  color: white;
}

body, h2, h4, button {
  font-family: 'Khand', sans-serif;
}

ul {
  list-style: none;
}

a {
  color: white;
}

.button {
  color: white;
  font-size: 2rem;
}

/*header styles*/
h1 {
  font-family: 'Bungee', cursive;
  font-size: 5rem;
}

header {
  position: absolute;
  display: none;
  width: 100%;
}

/*treks styles*/




/*attempt at gradient overlay, didn't like it*/
/*div {
background: rgba(0, 0, 0, 0.4);
background: linear-gradient(to top, white, rgba(0, 0, 0, 0.4));
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
width: 100% !important;
position: relative;
}*/
