@import url('https://fonts.googleapis.com/css?family=Barrio');


* {
  font-family: 'Barrio', cursive;
}

h1 {
  text-align: center;
  font-family: 'Barrio', cursive;
}

button #load {
  margin: auto;
}

button {
  font-family: 'Barrio', cursive;
}

.thumbnail {
  text-align: center;
  background-color: gray;
  border-radius: 20px;
}

.tiles {
  margin: 10%;
  height: 350px;
  padding: 10%;
}
