body {
  background-image: url("https://wallpapersite.com/images/pages/pic_w/6500.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

ul.vacation {
  border: 5px solid black;
  background-color: yellow;
}

ul.deets {
  color: blue;
}

ul.deets li {
  display: inline-block;
  margin-right: 20px;
}
