@import url('https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.css');
@import url('https://fonts.googleapis.com/css?family=Marvel|Bungee');

/*general styles*/
body {
  background-image: url('trek1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   width: 100% !important;
  position: absolute;
  color: white;
}

body, h2, h4, h6 {
  font-family: 'Marvel', sans-serif;
}

ul {
  list-style: none;
}

a, label {
  color: white;
}

/*header & footer styles*/
h1 {
  font-family: 'Bungee', cursive;
  font-size: 10rem;
}

h1:hover {
  cursor: pointer;
}

footer {
  position: absolute;
  display: none;
  padding-left: 20px;
}

/*dropdown menu styles*/
header ul {
  max-height: 400px;
  overflow: auto;
}

#myInput {
    border-box: box-sizing;
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 20px;
    border: none;
}

.dropdown-content {
    display: none;
    /*position: absolute;*/
    background-color: rgba(79, 187, 234, 0.4);
    min-width: 230px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover, #trek:hover {
  background-color: rgb(79, 187, 234);
}

.show {
  display:block;
}

/*trek styles*/
#trek form {
  padding-top: 50px;
}


/*attempt at background gradient overlay, didn't like it*/
/*div {
background: rgba(0, 0, 0, 0.4);
background: linear-gradient(to top, white, rgba(0, 0, 0, 0.4));
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
width: 100% !important;
position: relative;
}*/
